[submodule "public"]
	path = public
	url = git@github.com:Reki-code/Reki-code.github.io.git
	branch = master
[submodule "themes/fuji"]
	path = themes/fuji
	url = git@github.com:Reki-code/hugo-theme-fuji.git
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = git@github.com:janraasch/hugo-bearblog.git
